<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

  <title>Document</title>

</head>

<body>
<div class="album-details">

  <div class="tracklist">

    <h2 class="tracklist-heading">Tracklist</h2>

    <table class="tracklist-table">

      <thead>

        <tr>

          <th>#</th>

          <th>Song Name</th>

          <th>Artist</th>

          <th>Like</th>

          <th>Play/Pause</th>

          <th>Add to Playlist</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let song of songs" class="tracklist-item">

          <td>{{ song.track_number }}</td>

          <td>{{ song.name }}</td>

          <td>{{ song.artist }}</td>

          <td>

            <button class="like-button" (click)="toggleLike(song)">

              <i [ngClass]="{'fas fa-heart': song.isLiked, 'far fa-heart': !song.isLiked, 'liked': song.isLiked}"
                (click)="toggleLike(song)"></i>

            </button>

          </td>

          <td>

            <div class="play-controls">

              <button (click)="togglePlayPause(song)">

                <i [ngClass]="song.isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>

              </button>

            </div>

          </td>

          <td>
            <button class="playlist-button" (click)="addToPlaylist(song)">
                <i class="fas fa-plus"></i>
            </button>
          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>
</body>
</html>
